
head
  // Basic
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  title Municipalidad de Distrital de Villa el Salvador
  meta(name='keywords' content='MUNICIPALIDAD, VILLA EL SALVADOR')
  meta(name='description' content='Municipalidad Distrital de Villa el Salvador')
  meta(name='author' content='munives.gob.pe')

  // Mobile Metas
  meta(name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no')
  // Web Fonts
  link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800%7CShadows+Into+Light%7CPlayfair+Display:400' rel='stylesheet' type='text/css')
  // Vendor CSS
  //link(rel="stylesheet", href='/vendor/boostrap/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' integrity='sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z' crossorigin='anonymous')
  link(rel='stylesheet', href='/vendor/fontawesome-free/css/all.min.css')
  link(rel='stylesheet', href='/vendor/simple-line-icons/css/simple-line-icons.min.css')
  // Theme CSS
  link(rel='stylesheet', href='/css/theme.css')
  link(rel='stylesheet', href='/css/theme-elements.css')
  // Theme Custom CSS
  link(rel='stylesheet' type='text/css' href='https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.css')
.body
  .main(role='main')
    header#header.header-effect-shrink(data-plugin-options="{'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyChangeLogo': true, 'stickyStartAt': 30, 'stickyHeaderContainerHeight': 70}")
      .header-body
        .header-container.container(style='background-image:linear-gradient(to right bottom, rgba(3, 64, 135, 0.8), rgba(3, 64, 135, 0.8))')
          .header-row
            .header-column
              .header-row
                .header-logo
                  a(href='index.php')
                    img(alt='Porto' width='250' height='80' data-sticky-width='82' data-sticky-height='40' src='/img/logo-white.png')
    .container.py-2
      .row.mt-5
        .col
          h4.mb-4 Contenido
          .row
            .col-lg-3
              .tabs.tabs-vertical.tabs-right.tabs-navigation.tabs-navigation-simple
                ul.nav.nav-tabs.col-sm-3
                  li.nav-item.active
                    a.nav-link(href='#data2020', data-toggle='tab') #{result_type.name} 2020
                  li.nav-item
                    a.nav-link(href='#data2019', data-toggle='tab') #{result_type.name} 2019
                  li.nav-item
                    a.nav-link(href='#data2018', data-toggle='tab') #{result_type.name} 2018
                  li.nav-item
                    a.nav-link(href='#data2017', data-toggle='tab') #{result_type.name} 2017
                  li.nav-item
                    a.nav-link(href='#data2016', data-toggle='tab') #{result_type.name} 2016
                  li.nav-item
                    a.nav-link(href='#data2015', data-toggle='tab') #{result_type.name} 2015
                  li.nav-item
                    a.nav-link(href='#data2014', data-toggle='tab') #{result_type.name} 2014
            .col-lg-9
              #data2020.tab-pane.tab-pane-navigation.active
                h4(style='text-align:justify; margin-right:5%;') #{result_type.name} - 2020
                table(id='table2020' style='font-size:14px')
                  thead
                    tr
                      th
                        | Resolución
                      th
                        | Descripción
                      th
                        | Descargar
                  tbody
                    each registro in result
                      if(registro.ano =='2020' && registro!=null)
                          tr
                            td #{registro.name}
                            td(style='text-align:justify;') #{registro.descripcion}
                            if(registro.descripcion!='-')
                              td(style='text-align:center;')
                                a(href='http://localhost:3000/api/v1.0/web/transparencia/docmun/render/'+registro.recurso, target='_blank')
                                  i.icon-doc.icons
                            else
                              td(style='text-align:center;') -
              #data2019.tab-pane.tab-pane-navigation
                h4(style='text-align:justify; margin-right:5%;') #{result_type.name} - 2019
                table(id='table2019' style='font-size:14px')
                  thead
                    tr
                      th
                        | Resolución
                      th
                        | Descripción
                      th
                        | Descargar
                  tbody
                    each registro in result
                      if(registro.ano =='2019' && registro!=null)
                          tr
                            td #{registro.name}
                            td(style='text-align:justify;') #{registro.descripcion}
                            if(registro.descripcion!='-')
                              td(style='text-align:center;')
                                a(href='http://localhost:3000/api/v1.0/web/transparencia/docmun/render/'+registro.recurso, target='_blank')
                                  i.icon-doc.icons
                            else
                              td(style='text-align:center;') -
              #data2018.tab-pane.tab-pane-navigation
                h4(style='text-align:justify; margin-right:5%;') #{result_type.name} - 2018
                table(id='table2018' style='font-size:14px')
                  thead
                    tr
                      th
                        | Resolución
                      th
                        | Descripción
                      th
                        | Descargar
                  tbody
                    each registro in result
                      if(registro.ano =='2018' && registro!=null)
                          tr
                            td #{registro.name}
                            td(style='text-align:justify;') #{registro.descripcion}
                            if(registro.descripcion!='-')
                              td(style='text-align:center;')
                                a(href='http://localhost:3000/api/v1.0/web/transparencia/docmun/render/'+registro.recurso, target='_blank')
                                  i.icon-doc.icons
                            else
                              td(style='text-align:center;') -
              #data2017.tab-pane.tab-pane-navigation
                h4(style='text-align:justify; margin-right:5%;') #{result_type.name} - 2017
                table(id='table2017' style='font-size:14px')
                  thead
                    tr
                      th
                        | Resolución
                      th
                        | Descripción
                      th
                        | Descargar
                  tbody
                    each registro in result
                      if(registro.ano =='2017' && registro!=null)
                          tr
                            td #{registro.name}
                            td(style='text-align:justify;') #{registro.descripcion}
                            if(registro.descripcion!='-')
                              td(style='text-align:center;')
                                a(href='http://localhost:3000/api/v1.0/web/transparencia/docmun/render/'+registro.recurso, target='_blank')
                                  i.icon-doc.icons
                            else
                              td(style='text-align:center;') -
              #data2016.tab-pane.tab-pane-navigation
                h4(style='text-align:justify; margin-right:5%;') #{result_type.name} - 2016
                table(id='table2016' style='font-size:14px')
                  thead
                    tr
                      th
                        | Resolución
                      th
                        | Descripción
                      th
                        | Descargar
                  tbody
                    each registro in result
                      if(registro.ano =='2016' && registro!=null)
                          tr
                            td #{registro.name}
                            td(style='text-align:justify;') #{registro.descripcion}
                            if(registro.descripcion!='-')
                              td(style='text-align:center;')
                                a(href='http://localhost:3000/api/v1.0/web/transparencia/docmun/render/'+registro.recurso, target='_blank')
                                  i.icon-doc.icons
                            else
                              td(style='text-align:center;') -
              #data2015.tab-pane.tab-pane-navigation
                h4(style='text-align:justify; margin-right:5%;') #{result_type.name} - 2015
                table(id='table2015' style='font-size:14px')
                  thead
                    tr
                      th
                        | Resolución
                      th
                        | Descripción
                      th
                        | Descargar
                  tbody
                    each registro in result
                      if(registro.ano =='2015' && registro!=null)
                          tr
                            td #{registro.name}
                            td(style='text-align:justify;') #{registro.descripcion}
                            if(registro.descripcion!='-')
                              td(style='text-align:center;')
                                a(href='http://localhost:3000/api/v1.0/web/transparencia/docmun/render/'+registro.recurso, target='_blank')
                                  i.icon-doc.icons
                            else
                              td(style='text-align:center;') -
              #data2014.tab-pane.tab-pane-navigation
                h4(style='text-align:justify; margin-right:5%;') #{result_type.name} - 2014
                table(id='table2014' style='font-size:14px')
                  thead
                    tr
                      th
                        | Resolución
                      th
                        | Descripción
                      th
                        | Descargar
                  tbody
                    each registro in result
                      if(registro.ano =='2014' && registro!=null)
                          tr
                            td #{registro.name}
                            td(style='text-align:justify;') #{registro.descripcion}
                            if(registro.descripcion!='-')
                              td(style='text-align:center;')
                                a(href='http://localhost:3000/api/v1.0/web/transparencia/docmun/render/'+registro.recurso, target='_blank')
                                  i.icon-doc.icons
                            else
                              td(style='text-align:center;') -
// Vendor
script(src='/vendor/jquery/jquery.min.js')
script(src='/vendor/bootstrap/js/bootstrap.min.js')
script(type='text/javascript' src='https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js')
script(type='text/javascript' src='https://cdn.datatables.net/v/dt/dt-1.10.21/datatables.min.js')
each val in ['2020', '2019', '2018','2017','2016','2015','2014','2013']
  script.
    $(document).ready( function () {
    $('#table#{val}').DataTable({
    "language": {
    "sOrder": [[ 0, "desc" ]],
    "sUrl":"https://cdn.datatables.net/plug-ins/1.10.21/i18n/Spanish.json"
    }
    });
    } );
